/*---------------------------
	   RESET
---------------------------*/
*{
	margin:0;
	padding:0;
}
img{
	border:none;
}
ul{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
input,select,option,button{
	outline:0;
	border:0;
}
a{
    text-decoration: none;
}
label{
	cursor: pointer;
}
/*---------------------------
	   GENERAL - Demo Style
---------------------------*/
body{
	font: 13px Arial, sans-serif;
    background: #3498DB;
    color: #222;
}
#wrapper{
	margin: 0 auto;
	width: 960px;
}
#wrapper h2{
	text-align: center;
	background: #5FAFE4;
	padding: 10px;
	color: #313131;
	font-size: 18px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
#custom-form{
	margin: 20px auto;
	width: 350px;
	background: #5FAFE4;
	padding: 20px 20px 20px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#custom-form > p > span{
	margin-bottom: 5px;
	display: inline-block;
}
#custom-form textarea{
	margin-bottom: 10px;
}
#link-git{
	height: 26px;
	width: 100px;
	text-indent: -9999px;
	display: block;
	margin: 0 auto;
	background: url(../img/github.png)  no-repeat;
}
.select-wrap .select-dropdown ul li.one{
	background: rgb(114, 168, 33);
}
.select-wrap .select-dropdown ul li.two{
	background: rgb(66, 164, 195);
}
.select-wrap .select-dropdown ul li[class^="flag"]{
	padding-left: 30px;
}
.select-wrap .select-dropdown ul li.flag-rus{
	background: #4A5864 url(../img/flag-rus.png) 0 7px no-repeat;
}
.select-wrap .select-dropdown ul li.flag-rus:hover,
.select-wrap .select-dropdown ul li.flag-rus.selected{
	background: #3A4954 url(../img/flag-rus.png) 0 7px no-repeat !important;
}
.select-wrap .select-dropdown ul li.flag-deu{
	background: #4A5864 url(../img/flag-deu.png) 0 7px no-repeat;
}
.select-wrap .select-dropdown ul li.flag-deu:hover,
.select-wrap .select-dropdown ul li.flag-deu.selected{
	background: #3A4954 url(../img/flag-deu.png) 0 7px no-repeat !important;
}
.select-wrap .select-dropdown ul li.flag-esp{
	background: #4A5864 url(../img/flag-esp.png) 0 7px no-repeat;
}
.select-wrap .select-dropdown ul li.flag-esp:hover,
.select-wrap .select-dropdown ul li.flag-esp.selected{
	background: #3A4954 url(../img/flag-esp.png) 0 7px no-repeat !important;
}
.select-wrap .select-dropdown ul li.flag-fra{
	background: #4A5864 url(../img/flag-fra.png) 0 7px no-repeat;
}
.select-wrap .select-dropdown ul li.flag-fra:hover,
.select-wrap .select-dropdown ul li.flag-fra.selected{
	background: #3A4954 url(../img/flag-fra.png) 0 7px no-repeat !important;
}
.select-wrap .select-dropdown ul li.flag-grc{
	background: #4A5864 url(../img/flag-grc.png) 0 7px no-repeat;
}
.select-wrap .select-dropdown ul li.flag-grc:hover,
.select-wrap .select-dropdown ul li.flag-grc.selected{
	background: #3A4954 url(../img/flag-grc.png) 0 7px no-repeat;
}
.select-wrap .select-dropdown ul li.flag-ita{
	background: #4A5864 url(../img/flag-ita.png) 0 7px no-repeat;
}
.select-wrap .select-dropdown ul li.flag-ita:hover,
.select-wrap .select-dropdown ul li.flag-ita.selected{
	background: #3A4954 url(../img/flag-ita.png) 0 7px no-repeat !important;;
}
/*---------------------------
	   Style Input FILE
---------------------------*/
.file-wrap{
	overflow: hidden;
	width: 350px;
	height: 30px;
	margin-bottom: 10px;
	background: #FFF;
	-moz-border-radius: 0px 5px 5px 0;
	-webkit-border-radius: 0px 5px 5px 0;
	border-radius: 0px 5px 5px 0;
}
.file-wrap .file-button{
	padding:7px;
	float: left;
	position: relative;
	font-weight: bold;
	color: #FFF;
	background: #52626F;
	cursor: pointer;
}
.file-wrap .file-button:hover{
	background: #637481;
}
.file-wrap > .file-name{
	line-height: 30px;
	margin-left: 10px;
	float: left;
	font-size: 13px;
}
.file-wrap > .select-file{
	color:green;
}
.file-wrap input[type=file]{
    display: none;
}
.file-del{
	font-size: 24px;
	color: red;
	cursor: pointer;
	position: relative;
	top: 16px;
	float: right;
	margin-right: 5px;
	line-height: 0;
}

/*---------------------------
	   Style Input NUMBER
---------------------------*/
.number-wrap{
	margin-bottom: 10px;
}
.number-wrap > button[type="button"]{
	padding: 4px 7px;
	width: 30px;
	font-weight: bold;
	color: #FFF;
	cursor: pointer;
}
input[type="usfe-number"]{
	padding: 5px;
	margin: 0 5px;
	width: 50px !important;
	height: 19px;
	background: #FFF;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input[type="usfe-number"]:focus{
	box-shadow: 0px 0 2px #71B2E7;
}
.number-wrap > button[type="button"],
input[type="usfe-number"]{
	font-family: 'Open Sans', sans-serif
}

/*---------------------------
	   Style Input TEXT, PASSWORD
---------------------------*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="usfe-search"]{
	padding: 5px;
	width: 200px;
	height: 19px;
	background: #FFF;
	color: #222;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/*---------------------------
	   Style BUTTON, SUBMIT
---------------------------*/
.butsub-element{
	padding: 6px 10px;
	position: relative;
	font-weight: bold;
	color: #FFF;
	cursor: pointer;
}
/*---------------------------
	   Style TEXTAREA
---------------------------*/
textarea{
	padding: 5px;
	width: 335px;
	height: 100px;
	max-width: 335px;
	outline: none;
	border: none;
	font: 13px Arial, sans-serif;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/*---------------------------
	   Style RADIO
---------------------------*/

.hidden-radio{
	display: none;
}
.custom-radio{
	height: 21px;
	width: 21px;
	position: relative;
	top: 9px;
	background: url(../img/radio-icon.png) 0 -1px no-repeat;
	display: inline-block;
	cursor: pointer;
}
.custom-radio.active-radio{
	background-position: 0 -23px;
}
.custom-radio.disable-radio{
	background-position: 0 -46px;
	cursor: default;
}
.custom-radio.active-radio.disable-radio{
	background-position: 0 -68px;
}
.custom-radio + input +label{
	cursor: pointer;
	margin-left: 7px;
}

/*---------------------------
	   Style CHECKBOX
---------------------------*/
.hidden-checkbox{
	display: none;
}
.checkbox-wrap{
	margin-bottom: 5px;
}
.custom-checkbox{
	height: 20px;
	width: 20px;
	position: relative;
	top: 6px;
	background: url(../img/checkbox-icon.png) 0 -1px no-repeat;
	display: inline-block;
	cursor: pointer;
}
.custom-checkbox.active-checkbox{
	background-position: 0 -23px;
}
.custom-checkbox.disabled-checkbox{
	background-position: 0 -45px;
}
.custom-checkbox.active-checkbox.disabled-checkbox{
	background-position: 0 -67px;
}
.custom-checkbox-2{
	height: 21px;
	width: 22px;
	position: relative;
	top: 6px;
	background: url(../img/checkbox-icon-2.png) 0 1px no-repeat;
	display: inline-block;
	cursor: pointer;
}
.custom-checkbox-2.active-checkbox{
	background-position: 0 -21px;
}
.custom-checkbox-2.disabled-checkbox{
	background-position: 0 -44px;
}
.custom-checkbox-2.active-checkbox.disabled-checkbox{
	background-position: 0 -65px;
}
.checkbox-wrap > label{
	cursor: pointer;
	margin-left: 7px;
}

/*---------------------------
	   Style SELECT
---------------------------*/
.select-wrap{
	position: relative;
	width: 220px;
}
.select-wrap select{
	display: none;
}
.select-wrap .select-this{
	overflow: hidden;
	color: #FFF;
	cursor: pointer;
}
.select-wrap .select-this-text{
	float: left;
	padding: 5px 7px;
}
.select-wrap .select-this-trigger{
	float: right;
	padding: 6px 9px 4px 9px;
	border-left: 1px solid #394045;
	line-height: 16px;
}
.select-wrap .select-this-trigger .select-this-trigger-arrow{
	font-size: 10px;
}
.select-wrap .select-dropdown{
	display: none;
	position: relative;
	top: 3px;
}
.select-wrap .select-dropdown ul{
	position: absolute;
	left: 0;
	right: 0;
	border: 1px solid #4A5863;
	border-bottom-width: 2px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	z-index: 100;
	-moz-box-shadow: 0 2px 0 #394854;
    -webkit-box-shadow: 0 2px 0 #394854;
    box-shadow: 0 2px 0 #394854;
}
.select-wrap .select-dropdown ul li{
	cursor: pointer;
	background: #4A5864;
	color: #FFF;
	padding: 7px;
}
.select-wrap .select-dropdown ul li:hover,
.select-wrap .select-dropdown ul li.selected,
.select-wrap .select-dropdown ul.hover-list li.selected:hover{
	background: #3A4954;
}
.select-wrap .select-dropdown ul.hover-list li.selected{
	background: #3A4954;
}
.select-wrap .select-dropdown ul li.disabled,
.select-wrap .select-dropdown ul li.disabled:hover,
.select-wrap .select-this.select-disabled{
	color: #BABABA;
	cursor: default;
	background: #566876;
}
.select-wrap .select-dropdown ul li.optgroup{
	cursor: default;
	font-weight: bold;
	list-style-type: disc;
	list-style-position: inside;
}
.select-wrap .select-dropdown ul li.optgroup:hover{
	background: #52626F;
}
.select-wrap .select-dropdown ul li.option{
	padding-left: 22px;
	list-style-type: circle;
	list-style-position: inside;
}

/*---------------------------
	   Style CALENDAR
---------------------------*/
.calendar-wrap{
	position: relative;
}
.calendar-wrap input{
	padding: 5px;
	width: 120px;
	float: left;
	height: 19px;
	background: #FFF;
	color: rgb(114, 168, 33);
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
.calendar{
	display: none;
	color: #FFF;
	border-collapse:collapse;
	position: absolute;
	top: 40px;
	width: 200px;
	height: 180px;
	z-index: 111;
}
.calendar:before{
	content: ' ';
	background:url(../img/calendar-arrow-top.png) no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	top: -9px;
	right: 45px;
}
.calendar tr{
	height: 27px;
}
.calendar tr td{
	text-align: center;
}
.calendar tr td.day,
.calendar tr td.prev-month,
.calendar tr td.next-month{
	cursor: pointer;
}
.calendar tr td.today{
	outline: 1px solid rgb(114, 168, 33);
	color: rgb(114, 168, 33);
}
.calendar tr td.day.weekend {
	color: rgb(114, 168, 33);
}
.calendar tr td.tr-week{
	background: rgb(114, 168, 33);
	font-weight: bold;
}
.calendar tr td.month,
.calendar tr td.year{
	font-weight: bold;
}
.calendar tr td.year{
	text-align: left;
} 
.calendar tr td.day:hover,
.calendar tr td.select-day
{
	background: #637481;
}
.calendar tr td.prev-month span,
.calendar tr td.next-month span{
	background:url(../img/calendar-arrow.png) no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
	top: 2px;
}
.calendar tr td.next-month span{
	background-position: -20px 0;
}
.calendar tr td.prev-month span:hover{
	background-position: 0 -15px;
}
.calendar tr td.next-month span:hover{
	background-position: -20px -15px;
}
.calendar-button{
	width: 30px;
	height: 29px;
	display: inline-block;
}
.calendar-button:hover{
	background-color: #637481;
	cursor: pointer;
}
.calendar-icon{
	display: inline-block;
	background:url(../img/calendar-icon.png) center no-repeat;
	height: 29px;
	width: 30px;
}

/*---------------------------
	   Style SEARCH
---------------------------*/
.seach-wrap{
	position: relative;
}
.seach-bg{
	width: 210px;
	background: #FFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
input[type="usfe-search"]{
	background: transparent;
	width: 180px;
	padding-right:0;
}
.seach-icon{
	display: inline-block;
	background:url(../img/search-icon.png) 0 0 no-repeat;
	height: 23px;
	width: 22px;
	text-indent: -9999px;
	cursor: pointer;
}
.result-list{
	position: absolute;
	top: 30px;
	display: none;
	width: 210px;
	background: #FFF;
	z-index: 112;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.result-list li{
	padding: 5px;
}
.result-list li:hover,
.result-list li.selected{
	cursor: pointer;
	background: #475160;
	color: #FFF;
}
.result-list li.no-result,
.result-list li.no-result:hover{
	cursor: default;
	background: #FFF;
	color: #222;
}


/*Elems Gradient*/
.number-wrap > button[type="button"],
.file-wrap .file-button,
.calendar,
.calendar-button,
.select-wrap .select-this,
.butsub-element{
	background: #5b6e7a; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzViNmU3YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MDQ5NTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #5b6e7a 1%, #404956 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#5b6e7a), color-stop(100%,#404956)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5b6e7a 1%,#404956 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5b6e7a 1%,#404956 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5b6e7a 1%,#404956 100%); /* IE10+ */
	background: linear-gradient(to bottom, #5b6e7a 1%,#404956 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b6e7a', endColorstr='#404956',GradientType=0 ); /* IE6-8 */
}
/*Elems Hover*/
.number-wrap > button[type="button"]:hover,
.file-wrap .file-button:hover,
.calendar-button:hover,
.select-wrap .select-this:hover,
.select-wrap .select-dropdown ul:hover,
.butsub-element:hover{
	background: #657987; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzY1Nzk4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YTU0NjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #657987 1%, #4a5463 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#657987), color-stop(100%,#4a5463)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #657987 1%,#4a5463 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #657987 1%,#4a5463 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #657987 1%,#4a5463 100%); /* IE10+ */
	background: linear-gradient(to bottom, #657987 1%,#4a5463 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#657987', endColorstr='#4a5463',GradientType=0 ); /* IE6-8 */
}
/*Elems box, border*/
.number-wrap > button[type="button"],
.select-wrap .select-this,
.butsub-element,
.calendar{
	-moz-box-shadow: 0 2px 0 #313F4A;
    -webkit-box-shadow: 0 2px 0 #313F4A;
    box-shadow: 0 2px 0 #313F4A;
	border-top: 1px solid #5b6e7a;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
/*Elems box, border hover*/
.number-wrap > button[type="button"]:hover,
.select-wrap .select-this:hover,
.butsub-element:hover{
	-moz-box-shadow: 0 2px 0 #394854;
	-webkit-box-shadow: 0 2px 0 #394854;
	box-shadow: 0 2px 0 #394854;
	border-top: 1px solid #637481;
}
/*Elems active*/
.number-wrap > button[type="button"]:active,
.select-wrap .select-this:active,
.butsub-element:active{
	top:1px;
	-moz-box-shadow: 0 1px 0 #394854;
	-webkit-box-shadow: 0 1px 0 #394854;
	box-shadow: 0 1px 0 #394854;
	position: relative;
}