/*Reset*/
*{
	margin:0;
	padding:0;
}
img{
	border:none;
}
ul{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
input,select,option,button{
	outline:0;
	border:0;
}
a{
    text-decoration: none;
}



body{
	background: #f7f7f7;
}

.file-wrap {
	overflow: hidden;
	padding: 5px 5px 7px 5px;
	margin: 10px 0;
	background: #FFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.file-wrap .file-button{
	padding: 4px 7px;
	float: left;
	position: relative;
	font-weight: bold;
	color: #FFF;
	background: #52626F;
	box-shadow: 0 2px 0 #4A5863;
	border-top: 1px solid #52626F;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.file-wrap .file-button:hover{
	background: #637481;
	box-shadow: 0 2px 0 #55636F;
	border-top: 1px solid #637481;
}
.file-wrap .file-button:active{
	top: 1px;
	box-shadow: 0 1px 0 #55636F;
}
.file-wrap > .file-name{
	line-height: 25px;
	margin-left: 10px;
	float: left;
	font-size: 12px;
}
.file-wrap > .select-file{
	color:green;
}
.file-wrap input[type=file]{
    display: none;
}
