/*---------------------------
	   RESET
---------------------------*/
*{
	margin:0;
	padding:0;
}
img{
	border:none;
}
ul{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
input,select,option,button{
	outline:0;
	border:0;
}
a{
    text-decoration: none;
}


/*---------------------------
	   GENERAL - Demo Style
---------------------------*/
body{
	font: 13px Arial, sans-serif;
    background: #3498DB;
    color: #222;
}
#wrapper{
	margin: 0 auto;
	width: 960px;
}
#wrapper h2{
	text-align: center;
	background: #5FAFE4;
	padding: 10px;
	color: #313131;
	font-size: 18px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
#custom-form{
	margin: 20px auto;
	width: 350px;
	background: #5FAFE4;
	padding: 20px 20px 20px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#custom-form > p > span{
	margin-bottom: 5px;
	display: inline-block;
}
#custom-form textarea{
	margin-bottom: 10px;
}
#link-git{
	height: 26px;
	width: 100px;
	text-indent: -9999px;
	display: block;
	margin: 0 auto;
	background: url(../img/github.png)  no-repeat;
}
/*---------------------------
	   Style Input FILE
---------------------------*/
.file-wrap{
	overflow: hidden;
	width: 350px;
	height: 30px;
	margin-bottom: 10px;
	background: #FFF;
	-moz-border-radius: 0px 5px 5px 0;
	-webkit-border-radius: 0px 5px 5px 0;
	border-radius: 0px 5px 5px 0;
}
.file-wrap .file-button{
	padding:7px;
	float: left;
	position: relative;
	font-weight: bold;
	color: #FFF;
	background: #52626F;
	cursor: pointer;
}
.file-wrap .file-button:hover{
	background: #637481;
}
.file-wrap > .file-name{
	line-height: 30px;
	margin-left: 10px;
	float: left;
	font-size: 13px;
}
.file-wrap > .select-file{
	color:green;
}
.file-wrap input[type=file]{
    display: none;
}
.file-del{
	font-size: 24px;
	color: red;
	cursor: pointer;
	position: relative;
	top: 16px;
	float: right;
	margin-right: 5px;
	line-height: 0;
}

/*---------------------------
	   Style Input NUMBER
---------------------------*/
.number-wrap{
	margin-bottom: 10px;
}
.number-wrap > button[type="button"]{
	padding: 4px 7px;
	width: 30px;
	position: relative;
	font-weight: bold;
	color: #FFF;
	background: #52626F;
	box-shadow: 0 2px 0 #4A5863;
	border-top: 1px solid #52626F;
	cursor: pointer;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.number-wrap > button[type="button"]:hover{
	background: #637481;
	box-shadow: 0 2px 0 #55636F;
	border-top: 1px solid #637481;
}
.number-wrap > button[type="button"]:active{
	top:1px;
	box-shadow: 0 1px 0 #55636F;
}
input[data-element="number"]{
	padding: 5px;
	margin: 0 5px;
	width: 50px !important;
	height: 19px;
	background: #FFF;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input[data-element="number"]:focus{
	box-shadow: 0px 0 2px #71B2E7;
}
.number-wrap > button[type="button"],
input[data-element="number"]{
	font-family: 'Open Sans', sans-serif
}

/*---------------------------
	   Style Input TEXT, PASSWORD
---------------------------*/
input[type="text"],
input[type="password"]{
	padding: 5px;
	width: 200px;
	height: 19px;
	background: #FFF;
	color: #222;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/*---------------------------
	   Style BUTTON, SUBMIT
---------------------------*/
.butsub-element{
	padding: 6px 10px;
	position: relative;
	font-weight: bold;
	color: #FFF;
	background: #52626F;
	box-shadow: 0 2px 0 #4A5863;
	border-top: 1px solid #52626F;
	cursor: pointer;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.butsub-element:hover{
	background: #637481;
	box-shadow: 0 2px 0 #55636F;
	border-top: 1px solid #637481;
}
.butsub-element:active{
	top:1px;
	box-shadow: 0 1px 0 #55636F;
}

/*---------------------------
	   Style TEXTAREA
---------------------------*/
textarea{
	padding: 5px;
	width: 335px;
	height: 100px;
	max-width: 335px;
	outline: none;
	border: none;
	font: 13px Arial, sans-serif;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/*---------------------------
	   Style RADIO
---------------------------*/

.hidden-radio{
	display: none;
}

.custom-radio{
	height: 17px;
	width: 17px;
	position: relative;
	top: 9px;
	background: url(../img/r.png) 0 -22px no-repeat;
	display: inline-block;
	cursor: pointer;
}
.custom-radio.active-radio{
	background-position: 0 0;
}
label{
	cursor: pointer;
	margin-left: 7px;
}